:root {
    --ba-Co: rgb(255, 255, 255);
    --ba-Co-drop: rgb(107, 107, 107);
    --ba-Co-abHeImg: rgba(33, 38, 41, 0.37);
    --ba-Co-Tr: #ffffffb6;
    --ba-Co-Tr-Ph: #7e7e7eb6;
    --ba-CO-Shadow: rgba(254, 254, 254, 0.839);
    --ba-Co-DropShadow: rgba(255, 255, 255, 0.678);
    --size-16px-1rem: 1rem;
    --size-24px: 1.5rem;
    --size-32px-2rem: 2rem;
    --size-40px: 2.5rem;
    --size-48px-3rem: 3rem;
    --size-56px: 3.5rem;
    --size-64px-4rem: 4rem;
    --size-72px: 4.5rem;
    --size-80px-5rem: 5rem;
    --fonts-40px: 40px;
    --fonts-32px: 32px;
    --fonts-24px: 24px;
    --fonts-20px: 20px;
    --fonts-16px: 16px;
    --gap-16-px: 1rem;
    --gap-24-px: 1.5rem;
    --gap-32-px: 2rem;
    --small-gap-24px: 1.5rem;
    --border-radius: 35px;
    --img-border-radius: 30px;
    --custom-border-radius: 80%;
    --Text-Co-White: #ffffff;
    --Text-Co-Black: #000000;
}
